/* Write your code here. */
li {
  list-style-type: none;
}
.con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  background-color: transparent;
  border: 0px solid;
  cursor: pointer;
  outline: none;
}
.text-que {
  font-size: 15px;
  color: #52606d;
}
.big {
  border: 1px solid #d7dae6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
}
.text {
  color: #9aa5b1;
  font-size: 14px;
}
.hor-line {
  border: 1px solid;
  color: #e4e7eb;
  width: 100%;
}
ul {
  padding-inline-start: 0px;
  align-self: stretch;
  margin-left: 100px;
}
@media (max-width: 576px){
  ul{
    margin-left: 30px;
  }
}